<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no,viewport-fit=cover">
    <title>Title</title>
    <link rel="stylesheet" href="../bootstrap.min.css">
    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha512-ZqQWGugamKhlSUqM1d/HMtwNG+hITmd/ptoof91lt5ojFZ+2bKlkvlzkmnDIrnikDY+UDVZVupLf6MNbuhtFSw=="
            src="https://lib.baomitu.com/socket.io/3.1.0/socket.io.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            padding: 30px;
        }

        .table-responsive {
            margin-top: 20px;
            border-top: none;
        }
    </style>
</head>
<body>
<div class="option">
    <div class="row">
        <div class="col-md-6">
            <button type="button" id="on-off" class="btn btn-primary">开关（<%- state %>）</button>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table"></table>
</div>
<script>
    const cache = {}
    let LIST = []

    function push(title, target) {
        const code = target.code

        const NotificationInstance = Notification || window.Notification;
        if (NotificationInstance.permission === "default") {
            NotificationInstance.requestPermission().then(() => {
                send(title)
            })
        } else if (NotificationInstance.permission === 'granted') {
            send(title)
        }

        function send(title) {
            const n = new NotificationInstance(title, {
                body: '有新的消息，点击查看！',
                tag: '2ue',
                data: {
                    url: 'https://2ue.github.io'
                }
            });
            n.onclick = function (e) {
                window.open(n.data.url, '_blank');
                n.close();
            }
        }
    }

    var socket = io('https://127.0.0.1:8000');
    socket.on('getMsg', rsts => {
        const rst = JSON.parse(rsts)
        const {code, Low, state, target} = rst.data
        if (code === "NOTE") {
            if (state > 1) {
                push(target.name, target)
            }
        } else {
            push(`${target.name}-${code}`, target)
        }
        refresh(rst.data)
    })

    function refresh(data) {
        const {code, Low, state, target} = data
        if (code === "NOTE") {
            if (state >= 3) {
                console.error(data)
            } else if (state >= 2) {
                console.info(data)
            } else if (state >= 1) {
                console.info(data)
            } else {
                console.log(data)
            }
        } else {
            console.error(data)
        }
        LIST.unshift(data)
        LIST.slice(0, 25)
        let html = ''
        LIST.forEach(item => {
            const {code, Low, state, target} = item
            let name = target.name, className = ''
            if (code === "NOTE") {
                if (state >= 3) className = 'danger'
                else if (state >= 2) className = 'warning'
                else if (state >= 1) className = 'info'
            } else {
                className = 'danger'
                name = `${target.name}(${code})`
            }
            if (code !== "NOTE" || state >= 1) html += `
                <tr class="${className}">
                    <td>${name}</td>
                    <td>${Low ? Low : ''}</td>
                </tr>
           `
        })
        document.querySelector('.table').innerHTML = html
    }

    let state = '<%- state %>'
    $('#on-off').on('click', () => {
        const url = state === '关闭' ? 'https://127.0.0.1:8000/option/stop' : 'https://127.0.0.1:8000/option/restart'
        $.ajax({
            url,
            type: "POST",
            dataType: "json",
            data: {},
            success: function () {
                if (state === '关闭') {
                    $('#on-off').text('开关（开启）')
                    state = '开启'
                } else {
                    $('#on-off').text('开关（关闭）')
                    state = '关闭'
                }
            }
        })
    })


</script>
</body>
</html>
